@font-face {
  font-family: 'Akkurat';
  src: local('Akkurat'),
    url('./fonts/AkkuratPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/AkkuratPro-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Akkurat.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Akkurat', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: #fff;
  background-color: #282a36;
}

a {
  text-decoration: none;
  color: #fff;
}

.Body {
  padding: 10rem 0 7rem;
}

@media only screen and (max-width: 768px) {
  .Body {
    padding: 8rem 0 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .Body {
    padding: 6rem 0 4rem;
  }
}
