.FooterSentence {
  position: relative;
  bottom: -6rem;
  text-align: center;
  color: #414145;
  font-size: 1rem;
}

.FooterSentence a {
  opacity: .3;
  color: #50fa7b;
  transition: opacity .25s;
}

.FooterSentence a:hover {
  opacity: .8;
}
