.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.8rem 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button,
.icon {
  margin-left: 3rem;
}

.icon {
  opacity: 0.6;
  -webkit-transition: opacity .4s; /* For Safari 3.1 to 6.0 */
  transition: opacity .4s;
}

.icon:hover {
  opacity: 1;
}

.button {
  text-transform: uppercase;
  position: relative;
  font-size: 1.1rem;
  transition: transform .4s;
  font-weight: bold;
  letter-spacing: .25rem;
  height: 31px;
  display: flex;
  align-items: center;
}

.button:hover {
  color: #2d2e3b;
  transform: scale(.9);
  -webkit-transform: scale(.9);
}

.button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #fff;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  z-index: -1;
}

.button:hover::after {
  opacity: 1;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

/* LOGO */

.logo {
  height: 45px;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0 5px;
  transition: transform .3s;
}

.logo-shadow {
  height: 5px;
  width: 86%;
  border-radius: 50%;
  background: #50fa7b;
  transition: transform .3s;
}

.logo-li:hover .logo {
  transform: scale(1.1) translate(0, -.2rem);
  -webkit-transform: scale(1.1) translate(0, -.2rem);
}

.logo-li:hover .logo-shadow {
  transform: scale(.8);
  -webkit-transform: scale(.8);
}

@media only screen and (max-width: 768px) {
  .nav {
    position: absolute;
    padding: 0.6rem 0.9rem;
  }
}

@media only screen and (max-width: 425px) {
  .nav {
    position: absolute;
    padding: 0.6rem 0.6rem;
  }

  .logo {
    height: 30px;
    font-size: 1.6rem;
  }

  .button {
    font-size: 1rem;
    letter-spacing: .15rem;
    height: 31px;
  }

  .button,
  .icon {
    margin-left: 1rem;
  }

  i {
    font-size: 20px;
  }
}
