.primaryColor {
  color: #50fa7b;
}

.section {
  margin: 0 18% 10rem 18%;
}

.Project {
  white-space: pre-wrap;
}

.Project h3 {
  font-size: 3rem;
}

.Project h4 {
  font-size: 2.4rem;
}

.Project p {
  font-family: 'Akkurat', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
}

.line {
  color: #50fa7b;
  font-size: 3rem;
}

.Title {
  height: 520px;
  display: flex;
  align-items: center;
}

.titleText {
  width: 93%;
  flex-grow: 1;
  margin-right: 7%;
}

.diapoImages {
  position: relative;
  width: 93%;
  height: 100%;
  flex-grow: 1;
  margin-left: 7%;
}

.diapoImages img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1.5s;
}

.Banner {
  margin-bottom: 10rem;
  height: 16rem;
  background-color: #21222C;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Role {
  margin-right: 18%;
}

.Role ol {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.Role ol li {
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
}

.Role .index {
  font-weight: bold;
  margin-right: 2rem;
}

.stack {
  display: flex;
  justify-content: space-between;
}

.stackCategory ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

li {
  margin-bottom: .5rem;
}

.links {
  margin-left: 18%;
}

.svgIcon {
  width: 4rem;
  height: 4rem;
  background-color: #50fa7b;
  opacity: .5;
  transition: opacity .25s;
}

.svgIcon:hover {
  opacity: 1;
}

.svgHtml {
  mask: url("./icons/html.svg");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: over;
}

.svgSite {
  mask: url("./icons/website.svg");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: over;
}

.features ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.screenshots img {
  width: 100%;
}