.allProjectsContainer {
  max-width: 55rem;
  margin: 0 auto;
}

.oneProjectContainer {
  margin-bottom: 11rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
}

.projectMainImage {
  width: 57%;
  height: 21rem;
  flex-shrink: 0;
  position: relative;
}

.projectMainImage:hover::before {
  opacity: .25;
}

.projectMainImage:hover .projectLabel {
  opacity: 1;
}

.projectMainImage::before {
  display: block;
  content: '';
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  right: 0.7rem;
  bottom: 0.7rem;
  margin: auto;
  background-color: #282a36;
  opacity: 0;
  z-index: 3;
  transition: opacity .25s;
}

.projectLabel {
  position: absolute;
  top: 50%;
  left: -7rem;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .3rem;
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity .25s;
  color: #50fa7b;
}

.shadow {
  display: block;
  position: absolute;
  bottom: -15%;
  left: -17%;
  width: 132%;
  height: 40%;
  z-index: 0;
}

.allProjectsContainer .main {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
  visibility: visible;
  z-index: 1;
}

.projectTitle {
  margin-left: 7%;
}

.projectTitle h1 {
  font-size: 3rem;
}

.projectTitle h2 {
  font-weight: 100;
  font-size: 1.8rem;
  opacity: 0.8;
}

@media only screen and (max-width: 1054px) {
  .allProjectsContainer {
    width: 40rem;
    margin: 0 auto;
  }
  .projectMainImage {
    width: 50%;
    height: 15rem;
  }
  .projectLabel {
    left: -6rem;
    font-size: 0.8rem;
  }
  .projectTitle h1 {
    font-size: 2rem;
  }
  .projectTitle h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .allProjectsContainer {
    width: 18rem;
    margin: 0 auto;
  }
  .oneProjectContainer {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }
  .projectMainImage {
    width: 90%;
    height: 12rem;
  }
  .projectLabel {
    left: -5rem;
    font-size: 0.7rem;
  }
  .shadow {
    left: -6%;
    width: 110%;
  }
  .projectTitle h1 {
    font-size: 2rem;
  }
  .projectTitle h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
